@page
@model MealPlanner.Pages.RecipeIngredientsPartial.CreateModel

<h4>RecipeIngredient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.IngredientID" class="control-label"></label>
                <select asp-for="RecipeIngredient.IngredientID" class ="form-control" asp-items="ViewBag.IngredientID"></select>
            </div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.Amount" class="control-label"></label>
                <input asp-for="RecipeIngredient.Amount" class="form-control" />
                <span asp-validation-for="RecipeIngredient.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipeIngredient.MeasureUnitID" class="control-label"></label>
                <select asp-for="RecipeIngredient.MeasureUnitID" class ="form-control" asp-items="ViewBag.MeasureUnitID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
