@page
@model MealPlanner.Pages.Entries.IndexModel

@{
  ViewData["Title"] = "Welcome to MealPlanner";
}

<h2>Welcome</h2>

Plan your meals with MealPlanner.
<div class="image">
  <img src="~/images/calendar.jpeg" alt="Calendar" height="200" class="front-page-image" />
</div>

