@page
@model MealPlanner.Pages.EntryMealRelation.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PlanEntryMealRelation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanEntryMealRelation.PlanEntry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanEntryMealRelation.PlanEntry.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlanEntryMealRelation.Meal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlanEntryMealRelation.Meal.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PlanEntryMealRelation.PlanEntryId" />
        <input type="hidden" asp-for="PlanEntryMealRelation.MealId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
